hr {
  border-color: #bed3d6;
}
.info-detail {
  font-size: 14px;
  color: #696969;
}
.title {
  color: #5e9299;
}
.link-text {
  color: #696969;
}
.info-label {
  font-size: 14px;
}
.card {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #bed3d6 !important;
  width: 100%;
}
.card-body {
  padding: 16px 0px;
}
.importent-title {
  color: #253a3d;
}

.icon {
  height: 15px;
  width: 15px;
}
.dot-icon {
  height: 5px;
  width: 5px;
}
